<mat-tab-group>
  <mat-tab label="Home">
    <mat-card class="default-card">
      <mat-card-header>
        <mat-card-title>Welcome</mat-card-title>
        <mat-card-subtitle>
          This is an material angular test site
        </mat-card-subtitle>
        <img
          mat-card-avatar
          src="https://s3.us-east-2.amazonaws.com/wurbys3/me+professional.jpg"
        />
      </mat-card-header>

      <mat-card-content>
        Welcome to a simple material angular site that I made to help me learn a
        bit of angular. I am honestly unsure what the purpose is, other than to
        demonstrate a little skill with web development I have gained the last
        couple years. Honestly, there's not much here, but I think what I have
        is decent. Welcome. Look around, see the functionality, and enjoy.
      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-button color="accent" (click)="simplePreviousFunction()">
          Previous Footer
        </button>
        <button mat-button color="accent" (click)="simpleNextFunction()">
          Next Footer
        </button>
      </mat-card-actions>
      <mat-card-footer style="margin: 1em">
        {{ content[displayedItem % content.length] }}
      </mat-card-footer>
    </mat-card>
  </mat-tab>
  <mat-tab label="About"> works </mat-tab>
  <mat-tab label="Contact"> works </mat-tab>
</mat-tab-group>
